@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel{
    background: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.pricing-plan{
    border-bottom:1px solid #e1f1ff;  
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel .pricing-plan:last-child{
    border-bottom: none;
}
.pricing-plan img{
    margin-bottom: 25px;
    max-width: 100%;
    margin:0 auto 25px;
}
.pricing-header{
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.pricing-features{
    list-style: none;
    text-align: center;
    color: #016ff9;
    margin: 40px 0 25px;
    width: 100%;
}
.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}
.pricing-features-item:last-child{
    border-bottom: 1px solid #e1f1ff;
}
.pricing-price{
    font-size: 2rem;
    font-weight: 700;
    color: #016ff9;
}
.pricing-button{
    text-decoration: none;
    display: inline-block;
    margin: 15px 0 25px;
    padding: 10px 30px; 
    color: #348efe;
    border-radius: 10px; 
    border: 1px solid #9dd1ff;
    transition: background-color 0.2s ease-in-out;
    letter-spacing: 0.1rem;
}
.pricing-button:hover,.pricing-button:focus{
    background-color: #e1f1ff; 
}
.pricing-button.is-featured{
    background-color: #48aaff;
    color: white;
}
.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
    background: #269aff;
}

@media (min-width: 900px){
    .panel{
        flex-direction: row;
    }
    .pricing-plan{
         border-bottom: none;
         border-right: 1px solid #e1f1ff;
         padding: 25px 50px;
    }
    .pricing-plan:last-child{
        border-right: none;
    }
}