@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');
h1{
	/*what we are selecting*/
	font-weight: 200;
	font-size: 2.5em;
	text-transform: uppercase; 
	border-top: 5px solid ;
}
body{
	background-color: #F69680;
	color: #2E1263;
	font-family:'Source Code Pro';
	font-weight: 200;
}
img{
    height: 300px;   
    border-radius: 40%;
}
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
} 
button {
	margin: 30px auto 0;
	padding: 20px 25px;
	background-color: #F69680;
	color: #2E1263;
	font-size: 14px;
	text-align: center;
	border: 1px solid #2E1263;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	outline: none;
}
button:hover {
	transition: 0.4s;
	text-decoration: underline;
    background-color: #2E1263;
    color: #F69680;
}

p {
	font-size: 20px;
}