@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.container img{
    width: 30%;
    float: left;
    margin: 1.6666%;
    box-sizing: border-box;
}
.container {
    width: 95%;
    margin: 0 auto;
    
}
.container h1{ 
    width: 30%;
    margin-left: 1.66%;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 20px;
    color: hsl(200,40%, 70%);
    font-weight: 800;
    font-size: 27px;
    letter-spacing: 0.15em; 
    text-transform: uppercase;
}
.container img:hover {
    border: 2px solid hsl(200,50%,50%);
}