@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

.container{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    border: 20px solid #bdc3c7;
}
.container .post {
    margin: 10px;
    margin-bottom: 30px;
}
.container .post .date{
    margin-left: 10px;
    color: #3498db;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.container .post h1{
    color: #2c3e50;
    padding-left: 10px;
}

.container .post p{
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: 10px;
}

.container p:first-of-type{
    border-left: 7px solid #bdc3c7;
    padding: 0 10px;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

