@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, white, gray);
}
.mycard{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#AA1428,gold,#000042);
    box-shadow: 0px 5px 10px white;
}

.mycard img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 354px;
    transition: 1s;
}
.mycard:hover img{
    position: absolute;
    bottom: 0;
    left: 90%;
    height: 500px;
    transition: 1s;
}
.mycard .mycontent{
    position: relative;
    width: 60%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
    color: #fff;
}

.mycard:hover .mycontent{
    opacity: 1;
    visibility: visible;
    left: 0%;
    transition: 1s;
}

.mycard .mycontent h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1em;
}
.mycard .mycontent a{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}
@media screen and (max-width: 991px){
     .mycard{
         position: relative;
         width: auto;
         max-width: 500px;
         transition: 0.5s;
         align-items: flex-start;
        }
     .mycard:hover{
         height: 600px;
     }
     .mycard img{
         height: 420px;
     }
     .mycard:hover img{
         left: 70%;
         height: 350px;
     }
     .mycard .mycontent{
         width: 100%;
         font-size: 1.5rem;
         left: 0;
         padding: 40px;
     }
}

@media screen and (max-width: 420px){
    .mycard .mycontent{
        padding: 30px;
    }
    .mycard:hover img{
        height: 300px;
    }
}
